.profile-height{
    height: 60vh;
}
.profile-container{
    padding: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */

}
.user-img{
    width: 4rem;
    height: 4rem;
}